<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat In Mongo | About </title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10">

        <p>

          Welcome to Cahat In Mongo, your number one chat application. We're dedicated to giving you the very best of
          expreince, with a focus on [store characteristic 1], [store characteristic 2], [store characteristic 3].


          Founded in <code>now()</code> by Alpha, Alpha Company Limited has come a long way from its beginnings in
          [starting location]. When [founder name] first started out, [his/her/their] passion for [brand message - e.g.
          "eco-friendly cleaning products"] drove them to [action: quit day job, do tons of research, etc.] so that
          Alpha Company Limited can offer you [competitive differentiator - e.g. "the world's most advanced
          toothbrush"]. We now serve customers all over [place - town, country, the world], and are thrilled that we're
          able to turn our passion into [my/our] own website.


          [I/we] hope you enjoy [my/our] products as much as [I/we] enjoy offering them to you. If you have any
          questions or comments, please don't hesitate to contact [me/us].


          Sincerely,

          [founder name]



        </p>
      </div>

    </div>
  </div>
</body>

</html>
