
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="QFgTt1OX9LmFY6j4rzLWnnmFGZo99E7lcQmP3NPb">

    <title>Express Starter</title>

    <!-- Scripts -->
    <script src="js/app.js" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <!-- Styles -->
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <main class="py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">Express Starter - Login</div>

                <div class="card-body">
                  <form method="POST" action="/login">
                    <input type="hidden" name="_token" value="QFgTt1OX9LmFY6j4rzLWnnmFGZo99E7lcQmP3NPb">
                    <div class="form-group row">
                      <label for="email" class="col-sm-4 col-form-label text-md-right">Email</label>

                      <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" value="" required autofocus>

                      </div>
                    </div>

                    <div class="form-group row">
                      <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                      <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" required>
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-6 offset-md-4">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="remember" id="remember" >

                          <label class="form-check-label" for="remember">
                            Remember Me
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row mb-0">
                      <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-primary">
                          Login
                        </button>

                        <a class="btn btn-link" href="/password/reset">
                          Forgot Your Password?
                        </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>

